<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <%= form_for(@condition, url: yield(:path)) do |f| %>
      <p><strong>体調</strong></p>
      <%= f.radio_button :level, :'100' %>
      <%= f.label :level, "絶好調", {value: :'100', style: "display: inline-block;", class: "radio_label"} %>
      <%= f.radio_button :level, :'75' %>
      <%= f.label :level, "好調", {value: :'75', style: "display: inline-block;", class: "radio_label"} %>
      <%= f.radio_button :level, :'50' %>
      <%= f.label :level, "普通", {value: :'50', style: "display: inline-block;", class: "radio_label"} %>
      <%= f.radio_button :level, :'25' %>
      <%= f.label :level, "不調", {value: :'25', style: "display: inline-block;", class: "radio_label"} %>
      <%= f.radio_button :level, :'0' %>
      <%= f.label :level, "絶不調", {value: :'0', style: "display: inline-block;", class: "radio_label"} %>
      <div class="field">
        <%= f.label :datetime, "時間　" ,style:'color:blue;' %>
        <%= f.datetime_select :datetime %>
      </div>
        <div class="field">
        <%= f.label :memo, "メモ" %>
        <%= f.text_field :memo, placeholder: "メモを入力…" %>
      </div>
      <div class="mt-4"></div>
      <%= f.submit yield(:button_text), class: "bg" %>
    <% end %>
    <div class="mt-3"></div>
    <%= link_to '[　戻る　]', user_conditions_path(params[:user_id]) %>
  </div>
</div>