<h1>体調</h1>
<div class="row">
<canvas id="myChart" width="auto" height="300"></canvas> 

<script>draw_graph();</script> 
</div>
<p><%= link_to '体調', new_user_condition_path(current_user) %></p>

<% @conditions.each do |condition| %>
  <p>

  <%= condition.date.strftime("%m月%d日　%H時%M分") %>　
  <strong><%= condition.level %></strong>　
  <%= link_to '[Edit]', edit_user_condition_path(current_user,condition), class: 'command' %>
  <%= link_to '[x]', user_condition_path(current_user,condition),
    method: :delete,class: 'command',data: { confirm: 'Sure?' } %>
  </p>
<% end %>
