<% provide(:title, "Condition") %>
<h1>体調　<%= @date.strftime("%m月%d日 (#{%w(日 月 火 水 木 金 土)[@date.wday]})") %></h1>
<div class="row">
  <div class="chart-container" style="position: relative; height:65vh; width:95vw">
    <canvas id="myChart"></canvas>
  </div>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: gon.timedata,
        datasets: [{
            label: 'bar',
            data: gon.bardata,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }, {
            label: 'line',
            data: gon.linedata,
            type: 'line'
          }]
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
        enabled: true,
        mode: 'single',
        callbacks: {
            afterLabel: function(tooltipItem, data) { 
                return gon.memo[tooltipItem.index];
            }
        }
        },
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              max: 100
            }
          }]
        }
      }
    });
  </script> 
</div>

<div class="row justify-content-center mb-2 condition_text">
  <%= link_to '今日', user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '昨日', index_ago1_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '2日前', index_ago2_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '3日前', index_ago3_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '4日前', index_ago4_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '5日前', index_ago5_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '6日前', index_ago6_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '7日前', index_ago7_user_conditions_path(user_id: params[:user_id]) %>　
</div>
<div class="row justify-content-center mb-2 condition_text">
  <%= link_to '1週間表示', index_week_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '1ヶ月表示', index_month_user_conditions_path(user_id: params[:user_id]) %>　
</div>

<% @conditions.each do |condition| %>
  <div class="condition_day">
    <%= condition.date.strftime("%m月%d日　%H時%M分") %>　
    <strong><%= condition.level %></strong>　
    <%= link_to '[詳細]', user_condition_path(current_user,condition), class: 'command' %>
    <%= link_to '[編集]', edit_user_condition_path(current_user,condition), class: 'command' %>
    <%= link_to '[削除]', user_condition_path(current_user,condition),
      method: :delete,class: 'command',data: { confirm: 'このデータを削除しますか?' } %>
  </div>
  <div class="condition_memo">
    <% if condition.memo.present? %>
      <%= condition.memo %>
    <% else%>
      <div>　　　　　　　　　 -</div>
    <% end %>
  </div>
<% end %>
<%= link_to(new_user_condition_path(current_user), class:"new_link") do %>
  <div class="fixed"><i class="fas fa-plus"></i></div>
<% end %>

