<div class="row mb-3">
  <div class="col-2">
    <%= current_user.name %>
  </div>
  <% @days.each do |day| %>
    <div class="col-1 px-0 mx-2 center">
      <p><%= day.strftime("%m/%d") %></p>
    <% @conditions.each do |condition| %>
      <% if Rails.env.development? %>
        <% if day.strftime("%Y-%m-%d") == condition[0] %>
          <div class="row justify-content-center">
            <div class="col-auto">
              <p><%= condition[1].round %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if Rails.env.production? %>
        <% if day == condition[0] %>
          <div class="row justify-content-center">
            <div class="col-auto">
              <p><%= condition[1].round %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  <% end %>
  <div class="w-100"></div>
  <div class="col-2">
    <% @condition_users.each do |condition| %>
      <div class="row my-3">
        <div class="col-12">
          <%= condition.user.name %>
        </div>
      </div>
    <% end %>
  </div>
  <% @days.each do |day| %>
    <div class="col-1 px-0 mx-2 my-3 center">
      <% @user_conditions.each do |conditions| %>
        <div class="row justify-content-center center">
          <% conditions.each do |condition| %> 
            <% if Rails.env.development? %>
              <% if day.strftime("%Y-%m-%d") == condition[0] %>
                <div class="col-auto">
                  <p><%= condition[1].round %></p>
                </div>
              <% end %>
            <% end %>
            <% if Rails.env.production? %>
              <% if day == condition[0] %>
                <div class="col-auto">
                  <p><%= condition[1].round %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
