<div class="row mb-3">
  <div class="col-2">
    <div class="row my-3"></div>
  </div>
  
  <div class="col-10">
    <div class="row my-3 mr-2">
      <% @user_date.each do |day| %>
        <div class="col-1 px-0 mx-2 center">
          <p><%= day.strftime("%m/%d") %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="w-100"></div>
  <div class="col-2">
    <div class="row my-3">
      <div class="col-12">
        <p><%= current_user.name %></p>
      </div>
    </div>
  </div>

  <div class="col-10">
    <div class="row my-3 mr-2">
      <% c = 0 %>
      <% @conditions.each do |condition| %>
        <% if Rails.env.development? %>

          <% if c == 0 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 1 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 2 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 3 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 4 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 5 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0] %>
              <div class="col-1 px-0 mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 6 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0] %>
              <div class="col-1 px-0 mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0 mx-2 center"></div>
            <% end %>
          <% end %>
          <% c += 1 %>
        <% end %>

        <% if Rails.env.production? %>
          <% if c == 0 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 1 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 2 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 3 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 4 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 5 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0 mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 6 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0]}" %>
              <div class="col-1 px-0 mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
            <% else %>
              <div class="col-1 px-0 mx-2 center"></div>
            <% end %>
          <% end %>
          <% c += 1 %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="w-100"></div>
  <div class="col-2">
    <% @users.each do |user| %>
      <div class="row my-3">
        <div class="col-12">
          <p><%= user.name %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-10">
    <div class="row my-3 mr-2">
      <% c = 0 %><% d = 0 %>
      <% condition_user_id = [] %>

      <% @user_conditions.each do |condition| %>
        <% c = 0 if c == 7 %>
        <% if condition_user_id.blank? %>
          <% condition_user_id = condition[0][0] %>
        <% end %>
        <% if condition_user_id == condition[0][0] %>
        <% else %>
          <% c = 0 %>
          </div><div class="row my-3 mr-2">
        <% end %>

        <% if Rails.env.development? %>
          <% if c == 0 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 1 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 2 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 3 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 4 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 5 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0 mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 6 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == condition[0][1] %>
              <div class="col-1 px-0 mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0 mx-2 center"></div>
            <% end %>
          <% end %>
          <% condition_user_id = condition[0][0] %>
          <% c += 1 %>
        <% end %>

        <% if Rails.env.production? %>
          <% if c == 0 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 1 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 2 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 3 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 4 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0  mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 5 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0  mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0 mx-2 center"></div>
              <% c += 1 %>
            <% end %>
          <% end %>

          <% if c == 6 %>
            <% if @user_date[c].strftime("%Y-%m-%d") == "#{condition[0][1]}" %>
              <div class="col-1 px-0 mx-2 center">
                <p><%= condition[1].round %></p>
              </div>
              <% condition_user_id = condition[0][0] %>
            <% else %>
              <div class="col-1 px-0 mx-2 center"></div>
            <% end %>
          <% end %>
          <% condition_user_id = condition[0][0] %>
          <% c += 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

