<% provide(:title, "Condition") %>
<h4>体調　<%= @date.strftime("%m月%d日 (#{%w(日 月 火 水 木 金 土)[@date.wday]})") %> ～ <%= @date.end_of_week.strftime("%m月%d日 (#{%w(日 月 火 水 木 金 土)[@date.end_of_week.wday]})") %></h4>
<div class="row justify-content-center">
<div class="chartWrapper" style="position: relative; overflow-x: scroll;">
  <div class="chartContainer" style="height:350px;">
    <canvas id="myChart" ></canvas>
  </div>
</div>
  <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var xAxisLabelMinWidth = 60; // データ当たりの幅を設定
    var width = gon.timedata.length*xAxisLabelMinWidth; // グラフ全体の幅を計算
    document.getElementById('myChart').style.width = width+"px"; //　グラフの幅を設定
    document.getElementById('myChart').style.height = "350px"; //htmlと同じ高さを設定
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: gon.timedata,
        datasets: [{
            label: 'bar',
            data: gon.bardata,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }, {
            label: 'line',
            data: gon.linedata,
            type: 'line'
          }]
      },
      options: {
        responsive: false, 
        tooltips: {
        enabled: true,
        mode: 'single',
        callbacks: {
            afterLabel: function(tooltipItem, data) { 
                return gon.memo[tooltipItem.index];
            }
        }
        },
        scales: {
          // xAxes: [{
          //   type: 'time',
          //   time: {
          //     unit: 'hour',
          //     fomat: 'H'
          //   }
          // }],
          yAxes: [{
            ticks: {
              beginAtZero: true,
              max: 100
            }
          }]
        }
      }
    });
  </script> 
</div>

<div class="row justify-content-center">
  <div class="col-6 px-1 mt-3 mb-3 text-center calendar_new">
    <%= link_to(new_user_condition_path(current_user), class:"calrendar_new_link") do %>
    <div class="py-2">Condition new create</div>
    <% end %>
  </div>
</div>
<div class="row justify-content-center mb-2 condition_text">
  <%= link_to '今週', index_week_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '先週', index_1week_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '2週間前', index_2week_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '3週間前', index_3week_user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '4週間前', index_4week_user_conditions_path(user_id: params[:user_id]) %>
</div>
<div class="row justify-content-center mb-2 condition_text">
  <%= link_to '1日表示', user_conditions_path(user_id: params[:user_id]) %>　
  <%= link_to '1ヶ月間表示', index_month_user_conditions_path(user_id: params[:user_id]) %>　
</div>
<% @conditions.each do |condition| %>
  <div class="condition_day">
    <%= condition.date.strftime("%m月%d日　%H時%M分") %>　
    <strong><%= condition.level %></strong>　
    <%= link_to '[詳細]', user_condition_path(current_user,condition), class: 'command' %>
    <%= link_to '[編集]', edit_user_condition_path(current_user,condition), class: 'command' %>
    <%= link_to '[削除]', user_condition_path(current_user,condition),
      method: :delete,class: 'command',data: { confirm: 'Sure?' } %>
  </div>
  <div class="condition_memo">
    <% if condition.memo.present? %>
      <%= condition.memo %>
    <% else%>
      <div>　　　　　　　　　 -</div>
    <% end %>
  </div>
<% end %>

