<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      <div class="user_margin">
        <%= render 'shared/stats' %>
      </div>
        <%= render 'shared/followed_link' %>
      </section>
    </aside>
    <div class="col-md-8 mt-md-3">
      <h3>ツイート一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1 class="mb-5 h1">自分を「共有」しよう</h1>
    <h2 class="mb-4">Kaitterなら、今のあなたを大切な仲間と「共有」できます。</h2>
    <div class="row justify-content-center">
      <div class="col-md-2 col-4 px-1 mt-5 mr-4 text-center signup_btn">
       <%= link_to(signup_path, class:"signup_btn_link") do %>
         <div class="py-2">アカウント作成</div>
       <% end %>
      </div>
      <div class="col-md-2 col-4 px-1 mt-5 text-center login_btn">
        <%= link_to(login_path, class:"login_btn_link") do %>
         <div class="py-2">ログイン</div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
