<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      <div class="user_margin">
        <%= render 'shared/stats' %>
      </div>
        <%= render 'shared/followed_link' %>
      </section>
    </aside>
    <div class="col-md-8 mt-md-3">
      <h3>ツイート一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron bg">
    <h1 class="mb-5">自分を「共有」しよう</h1>
    <h2 class="mb-4">Kaitterなら、今のあなたを大切な仲間と「共有」できます。</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 col-5 px-1 mt-5 mr-4 text-center guest_btn">
       <%= link_to(guest_login_path, class:"guest_btn_link") do %>
         <div class="py-2">ゲスト用アカウント</div>
       <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2 col-4 px-1 mt-5 mr-4 text-center signup_btn">
       <%= link_to(signup_path, class:"signup_btn_link") do %>
         <div class="py-2">アカウント作成</div>
       <% end %>
      </div>
      <div class="col-md-2 col-4 px-1 mt-5 text-center login_btn">
        <%= link_to(login_path, class:"login_btn_link") do %>
         <div class="py-2">ログイン</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mx-1">
    <div class="col-12 col-md-6 info0">
    </div>
  </div>

  <div class="row mx-1 mt-5">
    <div class="col-12 col-md-6 info_f2">
    <%= image_tag 'condition.jpg', class: 'img-fluid mx-auto d-block infoimg_f2' %>
    </div>
    <div class="col-12 col-md-6 info_f2">
    </div>
    <div class="col-12 col-md-6 order-4 order-md-3 info_w">
    </div>
    <div class="col-12 col-md-6 order-3 order-md-4">
    <%= image_tag 'tweet.jpg', class: 'img-fluid  mx-auto d-block infoimg_w' %>
    </div>
    <div class="col-12 col-md-6 order-5 order-md-5 info_f2">
    <%= image_tag 'month.jpg', class: 'img-fluid mx-auto d-block infoimg_f2' %>
    </div>
    <div class="col-12 col-md-6 order-6 order-md-6 info_f2">
    </div>
    <div class="col-12 col-md-6 order-8 order-md-7 info_w">
    </div>
    <div class="col-12 col-md-6 order-7 order-md-8 mt-5">
    <%= image_tag 'task.jpg', class: 'img-fluid mx-auto d-block infoimg_w' %>
    </div>
  </div>
<% end %>
