<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      <div class="user_margin">
        <%= render 'shared/stats' %>
      </div>
        <%= render 'shared/followed_link' %>
        <div class="mt-3">
        <%= link_to "みんなの体調", index_users_user_conditions_path(current_user) %>
        </div>
      </section>
    </aside>
    <div class="col-md-8 mt-md-3">
      <h3>ツイート一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron bg">
    <h1 class="mb-5">自分を「共有」しよう</h1>
    <h2 class="mb-4">Kaitterなら、今のあなたを大切な仲間と「共有」できます。</h2>
    <div class="row justify-content-center">
      <div class="col-md-3 col-5 px-1 mt-5 mr-4 text-center guest_btn">
       <%= link_to(guest_login_path, class:"guest_btn_link") do %>
         <div class="py-2">ゲスト用アカウント</div>
       <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-2 col-4 px-1 mt-5 mr-4 text-center signup_btn">
       <%= link_to(signup_path, class:"signup_btn_link") do %>
         <div class="py-2">アカウント作成</div>
       <% end %>
      </div>
      <div class="col-md-2 col-4 px-1 mt-5 text-center login_btn">
        <%= link_to(login_path, class:"login_btn_link") do %>
         <div class="py-2">ログイン</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mx-1">
    <div class="col-12 col-md-6 info_top">
      <div class="info_title my-md-5 my-2"><strong>Kaitterとは？</strong></div>
      <div class="info_text">Kaitterは、自己管理に特化した投稿型SNSサービスです。
      保存したデータは大切な仲間と共有できます。</div>
  </div>

  <div class="row mx-1 mt-5">
    <div class="col-12 col-md-6 info_f2">
    <%= image_tag 'condition.jpg', class: 'img-fluid mx-auto d-block infoimg_f2' %>
    </div>
    <div class="col-12 col-md-6 info_f2">
      <div class="info_title my-md-5"><strong>一目で分かる体調管理</strong></div>
      <div class="info_text">記録された体調はグラフとして表示し、体調の変化を一目で確認できます。表示されるグラフは、一日単位、週単位、月単位で表示が可能です。</div>
    </div>
    <div class="col-12 col-md-6 order-4 order-md-3 info_w">
      <div class="info_title my-md-5 mb-3"><strong>体調管理をする工夫</strong></div>
      <div class="info_text">日々の出来事を呟く際に体調の入力ができるので、あなたが体調の入力を忘れることはありません。</div>
    </div>
    <div class="col-12 col-md-6 order-3 order-md-4">
    <%= image_tag 'tweet.jpg', class: 'img-fluid  mx-auto d-block infoimg_w' %>
    </div>
    <div class="col-12 col-md-6 order-5 order-md-5 info_f2">
    <%= image_tag 'month.jpg', class: 'img-fluid mx-auto d-block infoimg_f2' %>
    </div>
    <div class="col-12 col-md-6 order-6 order-md-6 info_f2">
      <div class="info_title my-md-5"><strong>カレンダーも共有</strong></div>
      <div class="info_text">カレンダーに登録したスケジュールは、大切な仲間と共有できます。このカレンダーはスマートフォンであれば長押しスワイプで簡単にスケジュールが作成できます。</div>
    </div>
    <div class="col-12 col-md-6 order-8 order-md-7 info_w">
      <div class="info_title my-md-5"><strong>ToDoリスト</strong></div>
      <div class="info_text">大切なのは自分との約束。そのためのToDoリスト。タスクを管理し完了させることで、あなたはさらなる高みを目指せます。</div>
    </div>
    <div class="col-12 col-md-6 order-7 order-md-8 mt-5">
    <%= image_tag 'task.jpg', class: 'img-fluid mx-auto d-block infoimg_w' %>
    </div>
  </div>
<% end %>
