<% provide(:title, "Icon") %>
<h1>アイコン・コード一覧</h1>

<div class="update_info">使用例 neko.jpg の文字を編集画面のアイコン・コードに入力すると
  アイコンが猫の画像になります。</div>
<div class="icon_box">
  <div class="a1">neko.jpg<%= image_tag 'neko.jpg', size: 200, class: 'allicon' %></div>
  <div class="a1">danbo.jpg<%= image_tag 'danbo.jpg', size: 200, class: 'allicon' %></div>
  <div class="a1">keisatu.jpg<%= image_tag 'keisatu.jpg', size: 200, class: 'allicon' %></div>
  <div class="a1">sweets.jpg<%= image_tag 'sweets.jpg', size: 200, class: 'allicon' %></div>
  <div class="a1">ushineko.jpg<%= image_tag 'ushineko.jpg', size: 200, class: 'allicon' %></div>
  <div class="a1">nyalaryman.jpg<%= image_tag 'nyalaryman.jpg', size: 200, class: 'allicon' %></div>
  <div class="a1">furoshiki.jpg<%= image_tag 'furoshiki.jpg', size: 200, class: 'allicon' %></div>
</div>
<p>.</p>
