<%= form_for(@meeting, url: yield(:path)) do |f| %>

  <div class="field">
    <%= f.label :name, "予定" %>
    <%= f.text_field :name, id: :meeting_name, placeholder: "予定を入力…" %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, id: :meeting_start_time, start_hour: 00, minute_step: 10, default: Date.today + 00.hour %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
