<% provide(:title, "Calendar") %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <strong><%= meeting.name %></strong>
    </div>  
  <% end %>
<% end %>

<%= link_to '予定を作成する', new_user_meeting_path(current_user) %>
<%= link_to "カレンダー(Week)", index_week_user_meetings_path(current_user), style:'float: right; font-size: 1.5rem;' %>

<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time.strftime("%Y年%m月%d日%H時%M分") %></td>
        <% if current_user?(meeting.user) %>  
          <td><%= link_to '|　詳細　', user_meeting_path(current_user, meeting) %></td>
          <td><%= link_to '|　編集　|', edit_user_meeting_path(current_user, meeting) %></td>
          <td><%= link_to '　削除　|', user_meeting_path(current_user, meeting), method: :delete, data: { confirm: '予定を削除しますか?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>