<% visitor = notice.visitor %>
<% visited = notice.visited %>
<li>
<span>
  <%= link_to user_path(visitor) do %>
    <% if visitor.icon.present? %>
      <div class="icon_notice"><%= image_tag("#{visitor.icon}", size: 30, style: 'border-radius: 50%;' ) %></div>
    <% else %>
      <%= gravatar_for(visitor, size: 30 ) %>
    <% end %>
    <strong><%= visitor.name %></strong>
  <% end %>
  さんが
  <% case notice.action %>
    <% when 'follow' then %>
      あなたをフォローしました
      （<%= time_ago_in_words(notice.created_at) %>前）<p>　</p>
    <% when 'like' then %>
      <%= link_to 'あなたの投稿', notice.micropost, style: "font-weight: bold;" %>
      にいいねしました
      （<%= time_ago_in_words(notice.created_at) %>前）<p>　</p>
    <% when 'comment' then %>
      <% if notice.micropost.user_id == visited.id %>
        <%= link_to 'あなたの投稿', notice.micropost, style: "font-weight: bold;" %>
          にコメントしました
          （<%= time_ago_in_words(notice.created_at) %>前）
        <p><strong><%= Comment.find_by(id: notice.comment_id)&.text %></strong></p>
      <% else %>
        <%= link_to "#{notice.micropost.user.name}さんの投稿", micropost_path(notice.micropost), style: "font-weight: bold;" %>
        にコメントしました
        （<%= time_ago_in_words(notice.created_at) %>前）
        <p><strong><%= Comment.find_by(id: notice.comment_id)&.text %></strong></p>
      <% end %> 
    <% end %> 
</span>
</li>