<% provide(:title, "ToDo List") %>
<div class="row justify-content-center mt-2 mb-4">
  <div class="col-6 px-1 text-center task_new">
    <%= link_to(new_user_task_path(current_user), class:"task_new_link") do %>
      <div class="py-3">Task new create</div>
    <% end %>
  </div>
</div>

</div>

<div class="container-fuild py-3 px-2 my-2 mx-3 task_container">
  <div class="row ml-3 mb-3">
    <div class="col-4 p-0 list_title">ToDo List</div>
  </div>
  <% @tasks.each do |t| %>
      <% if  t.state == '6' %>
  <div class="row mt-1 mx-2 py-1 done_row">
    <div class="col-1 pl-3 pr-0 task_circle">
        <font color="<%=t.color%>"><i class="fas fa-circle"></i></font>
      <% else %>
  <div class="row mb-3 mx-2 py-3 todo_row">
    <div class="col-1 pl-3 pr-0 task_circle">
        <%= link_to(push_user_task_path(current_user,t), method: :patch, class: 'task',data: { confirm: 'このタスクの優先順位を下げますか?' }) do %>
          <font color="<%=t.color%>"><i class="fas fa-circle"></i></font>
        <% end %>
      <% end %>
    </div>
    <div class="col-11 pl-0 task_title"><strong><%= t.task %></strong></div>
    <div class="offset-1 p-0"></div>
    <div class="col-2 pl-0 my-2"><%= t.limit_date.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[t.limit_date.wday]})") %></div>
    <div class="col-9 px-1 my-2"><small><%= t.memo %></small></div>
    <div class="col-12 mt-2 task_icon">
      <% if t.state == '6' %>
        <%= link_to(check_user_task_path(current_user,t), method: :patch, class: 'task_link_uncheck',data: { confirm: 'このタスクを戻しますか?' }) do %>
          <i class="fas fa-check-circle fa-lg"></i>
        <% end %>
      <% else %>
        <%= link_to(check_user_task_path(current_user,t), method: :patch, class: 'task_link_check',data: { confirm: 'このタスクを完了しますか?' }) do %>
          <i class="fas fa-check fa-lg"></i>
        <% end %>
      <% end %>
    <%= link_to(edit_user_task_path(current_user,t), class: 'task_link_edit') do %>
      <i class="fas fa-pencil-alt fa-lg"></i>
    <% end %>
    <%= link_to(user_task_path(current_user,t), method: :delete,class: 'task_link_delete',data: { confirm: 'このデータを削除しますか?' }) do %>
      <i class="far fa-trash-alt fa-lg"></i>
    <% end %>
    </div>
  </div>
  <% end %>
</div>

<div class="container-fuild">