<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <% if @user.icon.present? %>
          <div class="icon"><%= link_to image_tag("#{@user.icon}", size: 300), root_path %></div>
        <% else %>
          <%= link_to gravatar_for(@user, size: 300 ), root_path %>
        <% end %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3><%= @user.name %>のツイート 一覧 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>

      <h3><%= @user.name %>のいいねしたツイート 一覧 (<%= @like_microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @like_microposts %>
      </ol>
      <%= will_paginate @like_microposts %>

    <% end %>
  </div>
</div>
