<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p>体調とツイート</p>
  <%= f.fields(model: @condition) do |i| %>
    <%= i.radio_button :level, :'100' %>
    <%= i.label :level, "絶好調", {value: :'100', style: "display: inline-block; color:black;", class: "radio_label"} %>
    <%= i.radio_button :level, :'75' %>
    <%= i.label :level, "好調", {value: :'75', style: "display: inline-block; color:black;", class: "radio_label"} %>
    <%= i.radio_button :level, :'50' %>
    <%= i.label :level, "普通", {value: :'50', style: "display: inline-block; color:black;", class: "radio_label"} %>
    <%= i.radio_button :level, :'25' %>
    <%= f.label :level, "不調", {value: :'25', style: "display: inline-block; color:black;", class: "radio_label"} %>
    <%= i.radio_button :level, :'0' %>
    <%= i.label :level, "絶不調", {value: :'0', style: "display: inline-block; color:black;", class: "radio_label"} %>
    <div class="field">
      <%= i.label :date, "現在時刻" ,style:'color:blue;' %>
      <%= i.datetime_select :date %>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_area :content, placeholder: "ツイートを入力（140文字以内）" %>
  </div>
<%= f.submit "ツイートする", class: "btn btn-primary btn-lg" %>
<span class="picture">
<%= f.file_field :picture,accept: 'image/jpeg,image/gif,image/png' %>
</span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
