<% provide(:title, "Show Calendar") %>
<h1>予定詳細</h1>
<p>タイトル：<strong><%= @event.title %></strong></p>
<p>開始時間：<strong><%= @event.start.strftime("%Y年　%m月%d日　%H時%M分　") %> ～</strong></p>
<% if @event.end.present?%>
  <p>終了時間：<strong><%= @event.end.strftime("%Y年　%m月%d日　%H時%M分　") %> まで</strong></p>
<% end %>
<p>メモ：<strong><%= @event.memo %></strong></p>
<p>背景：<strong><%= @event.color %></strong></p>
<p>文字：<strong><%= @event.textColor %></strong></p>
<% if @event.user_id == current_user.id %>
  <%= link_to '|　編集　|', edit_user_event_path(current_user, @event) %>
  <%= link_to "　削除　|", user_event_path(current_user,@event), method: :delete, data: { confirm: "本当にこの予定を削除しますか？" }, class: "delete" %>
<% end %>
<div class="margin_top10">
  <p><%= link_to '戻る', user_events_path(params[:user_id]) %></p>
</div>
