<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "アップデート情報", updates_path %></li>
    </ul>
  </nav>
  <small>
    <a href="#">© 2020 uminchu.com Inc. All Rights Reserved.</a>
  </small>
  <% if logged_in? %>
    <div class="container">
      <ul class="row">
        <nav class="navbar fixed-bottom navbar-dark justify-content-around py-2" style="background-color:#204495;">
          <li class="pen col-xs-2">
            <%= link_to(root_path) do %>
              <i class="fas fa-home fa-lg"></i>
            <% end %>
          </li>
          <li class="pen col-xs-2">
            <div data-toggle="modal" data-target="#modal1"><i class="far fa-edit fa-lg"></i></div>
          </li>
          <li class="pen col-xs-2">
            <%= link_to(user_conditions_path(current_user)) do %>
              <i class="fas fa-heartbeat fa-lg"></i>
            <% end %>
          </li>
          <li class="pen col-xs-2">
            <%= link_to(user_events_path(current_user)) do %>
              <i class="far fa-calendar-alt fa-lg"></i>
            <% end %>
          </li>
          <li class="pen col-xs-2">
            <%= link_to(user_tasks_path(current_user)) do %> 
              <i class="fas fa-tasks fa-lg"></i>
            <% end %>
          </li>
        </nav>
          <div class="modal fade" id="modal1" tabindex="-1"
                role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <%= render 'shared/micropost_form' %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </ul>
    </div>
  <% end %>
</footer>
