<div class="container-fuild">
  <div class="row">
    <header class="navbar fixed-top navbar-dark p-0" style="background-color:#204495;">
      <div class="col-5 order-3 text-right" >
        <%= link_to "Kaitter.jp", root_path, id:"logo", class:"navbar-brand m-0" %>
      </div>
        <% if logged_in? %>
          <nav class="col-2 order-1 pr-0">
            <div class="dropdown">
              <button type="button" class="navbar-toggler" id="dropdown1" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="dropdown-menu" aria-labelleby="dropdown1">
                <%= link_to "ToDoリスト", user_tasks_path(current_user), class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "体調管理", user_conditions_path(current_user), class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "カレンダー", user_events_path(current_user), class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "全てのユーザー", users_path, class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ツイート検索", search_path, class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "アップデート情報", updates_path, class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "アイコン一覧", icon_path, class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ユーザー設定", edit_user_path(current_user), class:"dropdown-item menu_list" %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item menu_list", style:"color:red;" %>
              </div>
            </div>
          </nav>
            <div class="bell col-5 order-2 mt-2 p-0"><%= render 'shared/notice_maru' %></div>
          </nav>
        <% else %>
          <nav class="col-3 order-1">
          </nav>
        <% end %>
    </header>
  </div>
</div>