<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Kaitter.jp", root_path, id: "logo" %>
    <div class="ver"><%= link_to "β ver.0.9.2", updates_path, style: 'color: gray;' %></div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li class="bell"><%= render 'shared/notice_maru' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="menu"><i class="fas fa-bars"></i></div></a>
            <ul class="dropdown-menu", id="dropdown-menu">
              <li class="menu_list"><%= link_to "ホーム", root_path %></li>
              <li class="divider"></li>
              <li class="menu_list"><%= link_to "ツイート検索", search_path %></li>
              <li class="divider"></li>
              <li class="menu_list"><%= link_to "通知", notices_path %></li>
              <li class="divider"></li>
              <%# <li class="menu_list"><%= link_to "カレンダー", meetings_path %></li>
              <li class="divider"></li> %>
              <li class="menu_list"><%= link_to "全てのユーザー", users_path %></li>
              <li class="divider"></li>
              <li class="menu_list"><%= link_to "アイコン一覧", icon_path %></li>
              <li class="divider"></li>
              <li class="menu_list"><%= link_to "設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li class="menu_list"><%= link_to "ログアウト", logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="menu_login"><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
