<div class="container-fuild">
  <div class="row">
    <header class="navbar fixed-top navbar-dark bg-dark">
    <div class="d-flex flex-colum col-4 order-2">
    <div class="h-100">
      <%= link_to "Kaitter.jp", root_path, id:"logo", class:"navbar-brand" %>
      <%= link_to "β ver.0.9.3", updates_path, style:'color: gray;', class:"ver" %>
    </div>
    </div>
      <nav class="col-5 order-1">
        <% if logged_in? %>
          <div class="dropdown">
            <button type="button" class="navbar-toggler" id="dropdown1" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="dropdown-menu" aria-labelleby="dropdown1">
              <%= link_to "ホーム", root_path, class:"dropdown-item menu_list" %>
              <div class="dropdoown-divider"></div>
              <%= link_to "ツイート検索", search_path, class:"dropdown-item menu_list" %>
              <div class="dropdoown-divider"></div>
              <%= link_to "通知", notices_path, class:"dropdown-item menu_list" %>
              <%= link_to "カレンダー", user_meetings_path(current_user), class:"dropdown-item menu_list" %>
              <%= link_to "全てのユーザー", users_path, class:"dropdown-item menu_list" %>
              <%= link_to "アイコン一覧", icon_path, class:"dropdown-item menu_list" %>
              <%= link_to "設定", edit_user_path(current_user), class:"dropdown-item menu_list" %>
              <%= link_to "ログアウト", logout_path, method: :delete, class:"dropdown-item menu_list" %>
            </div>
          </div>
        <% else %>
          <div class="menu_login"><%= link_to "ログイン", login_path %></div>
        <% end %>
      </nav>
    </header>
  </div>
</div>